<%if @user_check.name != "" && @user_check.name != nil%>
   <span class="sr-only">Reticulating splines: 0%</span>
   <br />

   <% ["success","info","danger","warning"].each_with_index do |bar_type, index|%>
   <div id= "pr<%= index + 1%>" >
   <p id="text<%= index + 1%>">Analysing tweets</p>
<div class="progress">

  <div id="bar<%= index + 1%>" class="progress-bar progress-bar-<%= bar_type%>" role="progressbar" style="width: 0%">
  </div>
  </div>
  </div>

  <% end %>


  <div id="result">
  <%if @user_check.score < 50 %>
    <h2>Unlikely.</h2>
    <p>
    There is a less than
  <% elsif @user_check.name == "edjeff"%>
    <h2>I mean, obviously.</h2>
    <p>
    There is a 
    <% elsif @user_check.score == 0.0%>
    <h2>Definitely not.</h2>
    <p>
    There is a 
  <% else %>
    <h2>Probably.</h2>
    <p>
    There is a 
  <% end %>
  <%= @user_check.score.to_s.gsub(".0","") %>% chance that <a href="http://www.twitter.com/<%= @user_check.name %>">@<%= @user_check.name %></a> is <a href="http://www.twitter.com/edjeff/">@edjeff</a>.</p>

  <br />
  <div id="legal" class="text-left"><small>
  <strong>Legal disclaimer:</strong> The @edjeff Twitter account detector is provided for entertainment purposes only and may not represent reality, or anything close to it. Your @edjeff may be at risk if you do not keep up payments on your @edjeff.</small>
  </div>
<% end %>
