<!DOCTYPE html>
<html>
<head>
  <title>Is it @edjeff?</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
</head>
<body>
 <div class="row">
 <div class="col-md-4 col-md-offset-4 text-center">


<%= yield %>
  </div>
  </div>
</body>
</html>
